<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
	<div class="card mt-2 mr-4">
		<div class="card-body">
			<h1 class="text-center">Add Contact</h1>
			
			<div class="container-fluid mt-1">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<form action="#"
							th:object="${contact}"
							enctype="multipart/form-data"
							method="post"
							th:action="@{/user/process-contact}"
							class="mt-2">
							
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-plus"></i>
									</div>
								</div>
								
								<input required type="text" id="firstName" name="name" placeholder="Enter Name here" class="form-control">
								
							</div>
							
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-user"></i>
									</div>
								</div>
								
								<input required type="text" id="secondName" name="secondName" placeholder="Enter Nick Name here" class="form-control">
								
							</div>
							
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-phone"></i>
									</div>
								</div>
								
								<input required type="number" id="phone" name="phone" placeholder="Enter Phone Number here" class="form-control">
								
							</div>
							
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text">
										@
									</div>
								</div>
								
								<input required type="email" id="email" name="email" placeholder="Enter email here" class="form-control">
								
							</div>
							
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-briefcase"></i>
									</div>
								</div>
								
								<input required type="text" id="work" name="work" placeholder="Enter your work here" class="form-control">
								
							</div>
							
							<div class="form-group mt-3">
							
								<textarea id="mytextarea" placeholder="Enter contact description" rows="10" name="description" class="form-control"></textarea>
								
							</div>		
							
							<div class="custom-file">
								<input type="file" name="profileImage">
							</div>		
							
							
							<div class="container text-center">
								<button class="btn btn-outline-primary">Save Contact</button>
							</div>		
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- TinyMCE-->
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<script>
	      tinymce.init({
	        selector: '#mytextarea'
	      });
    </script>
    
    <script>
		$(document).ready(()=>{
			$(".item").removeClass("active");
			$("#add-sidebar").addClass("active");			
		})
	</script>

	
</section>
</body>
</html>